@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Outfit';
    src: url(./static/Outfit-Light.ttf);
    font-weight: 300; /* for Light */
}

@font-face {
    font-family: 'Outfit';
    src: url(./static/Outfit-Medium.ttf);
    font-weight: 500; /* for Medium */
}

@font-face {
    font-family: 'Outfit';
    src: url(./static/Outfit-Bold.ttf);
    font-weight: 700; /* for Bold */
}

